
.JobCard {
  /* margin: auto; */
  align-items: center;
}

.JobCard a {
  color: #000000;
  text-decoration: none;
}

.card {
  border-radius: .5em;
  margin: 1em 10em;
  width: auto;
  box-shadow: 1px 1px 3px rgb(124, 124, 124);
  background-color: white;
}