.Nav {
  z-index: 2;
  position: fixed;
  box-shadow: 1px 1px 20px rgb(70, 64, 95);
  width: 100%;
  background-color:rgb(245, 255, 255);
}

.navbar-brand {
  margin: 0 1em;
}

.nav-item {
  margin: 0 .25em;
}


